.c-arrowed-link {
  display: flex;

  &__label {
    color: map-get($color, "on-background");
    font-size: map-get($type-link, "size");
    letter-spacing: map-get($type-link, "character-spacing");
    line-height: map-get($type-link, "leading");
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &:hover {
      text-decoration: none;
    }
  }

  &__arrow {
    fill: map-get($color, "on-background");
    fill-rule: nonzero;
    height: map-get($type-link, "leading");
    margin-left: map-get($spacing, "XS");
    width: 3rem;

    &--before {
      margin-left: -1.5rem;
      order: -1;
      transform: scaleX(-1);
    }

    #beak {
      transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #line {
      transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }

  &:hover {
    text-decoration: none;
  }

  &:hover &__arrow {
    #beak {
      transform: translate(23px, 0);
    }

    #line {
      width: 39px;
    }
  }

  &--external {
    &:hover .c-arrowed-link__arrow {
      #line.c-arrowed-link--external {
        width: 35px;
      }
    }
  }
}
