.c-footer {
  background-color: map-get($color, "background-variant");
  padding: map-get($spacing, "L") map-get($spacing, "M");

  @include bp-small {
    padding-top: map-get($spacing, "ML");
  }

  &__links,
  &__disclaimer {
    display: flex;
    flex-direction: column;

    @include bp-small {
      flex-direction: row;
    }
  }

  &__links {
    margin-bottom: map-get($spacing, "S");
    margin-left: map-get($spacing, "M");
  }

  &__links p:not(:first-child) {
    @include bp-small {
      margin-left: map-get($spacing, "L");
    }
  }

  &__disclaimer {
    border-top: solid 1px map-get($color, "type-variant");
    padding-left: map-get($spacing, "M");
    padding-right: map-get($spacing, "M");
    padding-top: map-get($spacing, "S");
    text-align: right;

    @include bp-small {
      justify-content: space-between;
    }
  }

  &__disclaimer small:last-of-type {
    margin-top: map-get($spacing, "XS");

    @include bp-small {
      margin-top: 0;
    }
  }
}
