.c-image-container {
  box-sizing: content-box !important;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: map-get($spacing, "S");

  .c-text-container + & {
    padding-bottom: map-get($spacing, "XL");
    padding-top: map-get($spacing, "XL");
  }

  @include bp-medium {
    &.l-container__content--S {
      padding-left: map-get($spacing, "XXXL");
    }
  }

  @include bp-large {
    &.l-container__content--L {
      padding-left: map-get($spacing, "S");
      padding-right: map-get($spacing, "S");
    }
  }

  &--multiple {
    @include bp-small {
      column-gap: map-get($spacing, "S");
      grid-template-columns: 1fr 1fr;
    }
  }

  &__caption {
    color: map-get($color, "type-variant");
    padding-left: map-get($spacing, "L");
    padding-right: map-get($spacing, "L");
    text-align: right;

    @include bp-small {
      grid-column-start: span 2;
    }

    @include bp-medium {
      padding-right: map-get($spacing, "XL");
    }

    @include bp-large {
      padding-right: map-get($spacing, "XXL");
    }

    small {
      display: inline-flex;
    }
  }
}
