.l-container__content--S {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: $container-content--S;
}

.l-container__content--L {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: $container-content--L;
}

.l-container__text--S {
  max-width: $container-text--S;
}

.l-container__text--M {
  max-width: $container-text--M;
}

.l-container__text--L {
  max-width: $container-text--L;
}
