.l-container__content--S {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: $container-content--S;
}

.l-container__content--L {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: $container-content--L;
}

.l-container__text--S {
  max-width: $container-text--S;
}

.l-container__text--M {
  max-width: $container-text--M;
}

.l-container__text--L {
  max-width: $container-text--L;
}

.l-project {
  &__content {
    margin-bottom: map-get($spacing, "XXL");
    overflow: hidden;
  }
}

.l-project--rebranding-avenue-code {
  .c-project-header__img-backdrop {
    background: linear-gradient(90deg, #fafafa 50%, #000000 51%, #000000 100%);
  }

  &__typography {
    height: auto;
    left: 32%;
    position: relative;
    width: 100%;

    @include bp-medium {
      left: 40%;
    }
  }
}
