.c-nav {
  background: map-get($color, "background");
  padding-bottom: map-get($spacing, "M");
  padding-top: map-get($spacing, "M");
  position: fixed;
  width: 100%;
  z-index: 100;

  @include bp-large {
    background: unset;
  }

  &__arrow {
    @extend .c-navigation-link__arrow;

    fill: map-get($color, "type-variant") !important;
    transform: rotate(180deg);

    &:hover {
      #beak {
        transform: translate(23px, 0);
      }

      #line {
        width: 39px;
      }
    }
  }

  &__items {
    display: inline-flex;

    &__link {
      @extend .c-navigation-link__label;

      color: map-get($color, "type-variant");
      margin-right: map-get($spacing, "L");
    }
  }

  .l-container__content--L {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }
}
