.c-nav {
  display: flex;
  justify-content: center;

  .c-arrowed-link {
    .c-arrowed-link__label {
      display: none;

      @include bp-medium {
        color: map-get($color, "on-background-variant");
        display: block;
      }
    }

    .c-arrowed-link__arrow {
      fill: map-get($color, "on-background-variant");
    }

    &:hover {
      .c-arrowed-link__label {
        color: map-get($color, "on-background");
      }

      .c-arrowed-link__arrow {
        fill: map-get($color, "on-background");
      }
    }
  }

  .l-container__content {
    background-color: map-get($color, "background");
    display: flex;
    justify-content: space-between;
    padding: map-get($spacing, "L") map-get($spacing, "L")
      map-get($spacing, "M");
    position: fixed;
    width: 100%;
    z-index: 100;

    @include bp-medium {
      background-color: unset;
      justify-content: flex-end;
    }
  }

  &__item {
    color: map-get($color, "on-background-variant");
    margin-left: map-get($spacing, "L");

    &:hover {
      color: map-get($color, "on-background");
    }
  }
}
