.c-project-card {
  display: flex;
  flex-direction: column;
  margin-bottom: map-get($spacing, "XXL");
  max-width: $container-content--L;

  @include bp-medium {
    flex-direction: row;
    margin-bottom: map-get($spacing, "L");

    &:last-child {
      margin-bottom: map-get($spacing, "XXL");
    }

    &:nth-child(odd) {
      margin-right: calc(calc(100vw - 60rem) / 2);
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
      margin-left: calc(calc(100vw - 60rem) / 2);
    }
  }

  @include bp-large {
    &:nth-child(odd) {
      margin-right: 15rem;
    }

    &:nth-child(even) {
      margin-left: 15rem;
    }
  }

  &__img img {
    max-width: 100%;
  }

  &__info {
    padding-left: map-get($spacing, "L");
    padding-right: map-get($spacing, "L");
    padding-top: map-get($spacing, "ML");

    @include bp-medium {
      box-sizing: content-box;
      flex-shrink: 0;
      padding-top: map-get($spacing, "XL");
      width: 16rem;
    }

    h2, p {
      margin-bottom: map-get($spacing, "S");
    }
  }
}
