.c-project-header {
  &__img-backdrop {
    padding-top: 3.625rem; // Nav size

    @include bp-large {
      padding-top: 0;
    }
  }

  &__title {
    margin: 0 map-get($spacing, "M") map-get($spacing, "XL");

    @include bp-medium {
      margin-bottom: map-get($spacing, "XL");
      margin-left: map-get($spacing, "XL");
      margin-right: map-get($spacing, "XL");
    }

    .l-container__content--S {
      border-bottom: solid 1px map-get($color, "background-variant");
      padding: map-get($spacing, "XL") map-get($spacing, "M")
        map-get($spacing, "XL");

      @include bp-medium {
        padding-left: 0;
        padding-right: 0;
      }

      @include bp-large {
        margin-top: -1 * map-get($spacing, "XL");
        padding: 0;
        position: relative;
      }
    }

    h1 {
      @include bp-large {
        background-color: map-get($color, "background");
        padding-left: map-get($spacing, "XL");
        padding-right: map-get($spacing, "XL");
        padding-top: map-get($spacing, "XL");
      }
    }

    h3 {
      padding-top: map-get($spacing, "S");

      @include bp-large {
        background-color: map-get($color, "background");
        padding-bottom: map-get($spacing, "XL");
        padding-left: map-get($spacing, "XL");
        padding-right: map-get($spacing, "XL");
      }
    }
  }

  &__details {
    margin: 0 map-get($spacing, "L") map-get($spacing, "XL");

    @include bp-medium {
      margin: 0 map-get($spacing, "XL") map-get($spacing, "XL");
      position: absolute;
    }

    &__content {
      display: flex;
      flex-direction: column;
      margin-bottom: map-get($spacing, "M");
      max-width: 16rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__section {
    margin-bottom: map-get($spacing, "XL");
    margin-top: map-get($spacing, "XL");

    &:last-child {
      margin-bottom: map-get($spacing, "XXXL");
    }

    h2 {
      margin-bottom: map-get($spacing, "S");
    }
  }

  &__section__content {
    display: flex;
    flex-direction: column;

    @include bp-small {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @include bp-medium {
      flex-wrap: nowrap;
    }

    &__item {
      margin-bottom: map-get($spacing, "M");

      @include bp-small {
        margin-right: 3rem;
        max-width: 16rem;
      }

      @include bp-medium {
        margin-bottom: 0;
      }
    }

    &__item:last-child {
      margin-bottom: 0;

      @include bp-small {
        margin-right: 0;
      }
    }
  }
}
