@import "../../styles/index.scss";

.c-heading-2 {
  .c-heading-4 + & {
    margin-top: 0;
  }

  h2 {
    box-sizing: border-box;
    max-width: map-get($container, "M");
    padding-left: map-get($spacing, "L");
    padding-right: map-get($spacing, "L");
    width: 100%;
  }
}
