@import "../../styles/index.scss";

.c-project-outro {
  padding-top: map-get($spacing, "XXL");

  & + & {
    padding-top: 0;
  }

  small {
    box-sizing: border-box;
    max-width: map-get($container, "M");
    padding-left: map-get($spacing, "L");
    padding-right: map-get($spacing, "L");
    width: 100%;
  }

  small::before {
    background-color: map-get($color, "type-variant");
    content: "";
    display: block;
    margin: 0 0 map-get($spacing, "L");
    width: 50%;
    height: 1px;
  }

  & + & small::before {
    display: none;
  }

  small em {
    display: block;
    max-width: map-get($container, "S");
  }
}
