@import "../../styles/index.scss";

.c-project-header {
  overflow: hidden;

  &__cover {
    left: calc(-1 * calc(25% + 3rem));
    position: relative;
    width: calc(150% + 6rem);
    z-index: 20;

    @include bp-medium {
      left: unset;
      width: 100%;
    }

    @include bp-large {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      margin: (3rem + map-get($spacing, "XL")) auto 0;
      width: calc(100% - 8rem);
    }
  }

  &__title {
    &--front {
      @extend .u-color--light;

      align-items: flex-end;
      -webkit-clip-path: inset(0 0 0 0);
      clip-path: inset(0 0 0 0);
      display: flex;
      height: calc(calc(150vw + 6rem) / 2);
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 30;

      @include bp-medium {
        height: calc(100vw / 2);
      }

      @include bp-large {
        box-sizing: border-box;
        height: calc(calc(100vw - 8rem) / 2);
        margin: (3rem + map-get($spacing, "XL")) 0 0;
      }

      .u-content-container--L {
        flex-grow: 1;
      }
    }

    &--back {
      position: relative;
      z-index: 10;

      h1 {
        bottom: 0;
        position: absolute;
      }
    }

    h1 {
      max-width: calc(100vw - 4rem);
      padding: 0 map-get($spacing, "L") map-get($spacing, "L");

      @include bp-small {
        padding-bottom: map-get($spacing, "M");
        max-width: map-get($container, "M") + map-get($spacing, "XL");
      }

      @include bp-large {
        padding-bottom: map-get($spacing, "L");
      }
    }
  }

  &__subtitle {
    display: flex;
    padding: map-get($spacing, "M") map-get($spacing, "L");

    @include bp-large {
      padding-top: map-get($spacing, "L");
    }

    h3 {
      max-width: map-get($container, "M") - map-get($spacing, "XL");
    }
  }

  &__specs {
    display: flex;
    flex-direction: column;
    margin: 0 map-get($spacing, "L") map-get($spacing, "L");

    @include bp-small {
      align-self: flex-start;
      flex-direction: row;
    }

    &__item {
      display: flex;
      flex-direction: column;

      & + & {
        margin-top: map-get($spacing, "XS");
      }

      @include bp-small {
        & + & {
          margin-top: 0;
          margin-left: map-get($spacing, "L");
        }
      }
    }
  }

  &__divider {
    border-color: map-get($color, "light-grey");
    border-style: solid;
    border-width: 0 0 1px 0;
    margin: 0 map-get($spacing, "L") map-get($spacing, "L");
    max-width: map-get($container, "L");

    @include bp-large {
      max-width: map-get($container, "L");
      margin-left: 0;
      margin-right: 0;
    }
  }
}
