@import "../../styles/index.scss";

@include bp-small {
  @keyframes c-project-header__cover-is-focused {
    from {
      padding: 0;
    }
    to {
      padding: map-get($spacing, "XL") map-get($spacing, "XL") 0;
    }
  }
}

@include bp-large {
  @keyframes c-project-header__cover-is-focused {
    to {
      padding: map-get($spacing, "XL") map-get($spacing, "XXL") 0;
    }
  }
}

.c-project-header {
  margin-top: 4.3125rem; // Nav height size

  @include bp-small {
    margin-top: 0;
  }

  &__cover {
    @include bp-small {
      animation: 3200ms $animation-ease-out-expo both
        c-project-header__cover-is-focused;
    }
  }

  &__title h1 {
    display: inline-flex;
    max-width: map-get($container, "S");
    padding: map-get($spacing, "M") map-get($spacing, "L")
      map-get($spacing, "XL");

    @include bp-small {
      background-color: map-get($color, "background");
      margin-top: -1 * map-get($spacing, "XL");
      position: relative;
      z-index: 50;
    }

    @include bp-medium {
      box-sizing: border-box;
      margin-top: -1 * map-get($spacing, "XXL");
      max-width: map-get($container, "M");
    }
  }

  &__details-and-subtitle {
    display: flex;
    flex-direction: column;

    @include bp-small {
      align-items: flex-end;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0 map-get($spacing, "L") map-get($spacing, "L");

    @include bp-small {
      align-self: flex-start;
      flex-direction: row;
    }

    @include bp-medium {
      flex-direction: column;
      flex-shrink: 1;
      position: absolute;
    }

    &__content {
      display: flex;
      flex-direction: column;

      & + & {
        margin-top: map-get($spacing, "S");
      }

      @include bp-small {
        flex-basis: map-get($container, "XS");

        & + & {
          margin-left: map-get($spacing, "L");
          margin-top: 0;
        }
      }

      @include bp-medium {
        flex-basis: unset;
        max-width: map-get($container, "XS");
        padding-right: map-get($spacing, "L");

        & + & {
          margin-left: 0;
          margin-top: map-get($spacing, "S");
        }
      }
    }
  }

  &__subtitle {
    box-sizing: border-box;
    margin-bottom: map-get($spacing, "L");
    max-width: map-get($container, "M");
    padding-left: map-get($spacing, "L");
    padding-right: map-get($spacing, "L");
  }
}
