@import "../../styles/index.scss";

.c-paragraph {
  article > &:first-child {
    p::first-letter {
      font-size: 5.4rem;
      font-weight: map-get($type-title-1, "weight");
      float: left;
      letter-spacing: map-get($type-title-1, "character-spacing-M");
      line-height: 0.96;
      margin-right: map-get($spacing, "XS");
      margin-bottom: -1px;

      @include bp-small {
        line-height: 0.97;
        font-size: map-get($type-title-1, "size--M");
      }
    }
  }
}
