@import "../../styles/index.scss";

.c-paragraph p {
  box-sizing: border-box;
  max-width: map-get($container, "M");
  padding-left: map-get($spacing, "L");
  padding-right: map-get($spacing, "L");
  width: 100%;
}
