.p-about {
  .l-container__content {
    display: flex;
    flex-direction: column;
  }

  &__header {
    padding: map-get($spacing, "XXXL") map-get($spacing, "L")
      map-get($spacing, "XXL");

    @include bp-medium {
      padding-bottom: map-get($spacing, "XL");
      padding-left: map-get($spacing, "XXL");
      padding-top: map-get($spacing, "XXL");
    }

    @include bp-large {
      padding-right: map-get($spacing, "XXL");
    }

    h1 {
      margin-bottom: map-get($spacing, "L");
    }
  }

  &__picture {
    &__img {
      left: -8rem;
      max-width: 32rem;
      z-index: 50;

      @include bp-small {
        left: -4rem;
      }

      @include bp-medium {
        left: 0;
      }
    }

    &__marquee-container {
      @extend .c-navigation-link__label;

      left: 0;
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;
      max-width: 120rem;
      position: absolute;
      right: 0;
      white-space: nowrap;
      width: 100%;

      strong {
        animation: ease-in-out infinite gradientBorderBackground,
          linear infinite alternate marqueeTranslation;
        background: map-get($color, "highlight-variant");
        background-size: 300% 300%;
        background-clip: text;
        display: inline-block;
        -webkit-text-fill-color: transparent;
      }
    }

    @for $i from 0 to 6 {
      &__marquee-container--#{$i + 1} {
        margin-top: calc(-178px + calc(#{$i+1} * 20px));

        strong {
          animation-duration: 60s, calc(300s + calc(#{$i+1} * 30s));
          animation-delay: #{$i + 1}s, calc(300ms + calc(#{$i+1} * 200ms));
        }
      }
    }
  }

  &__info {
    align-self: flex-end;
    padding: map-get($spacing, "L") map-get($spacing, "L")
      map-get($spacing, "XXL");

    ul {
      margin-top: map-get($spacing, "S");
    }

    li {
      line-height: map-get($type-body, "leading");
    }
  }
}

@keyframes marqueeTranslation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-25%, 0);
  }
}
