.p-about {
  .l-container__content--S {
    display: flex;
    flex-direction: column;
  }

  &__header {
    margin: map-get($spacing, "XXL") map-get($spacing, "L");

    @include bp-medium {
      margin-bottom: map-get($spacing, "XXL");
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__info {
    @include bp-medium {
      align-items: end;
      display: grid;
      grid-template-columns: 32rem 1fr;
      margin-bottom: map-get($spacing, "XXL");
    }
  }

  &__info__picture {
    &__marquee {
      $marquee-background: linear-gradient(
        180deg,
        #000000 80%,
        rgba(0, 0, 0, 0) 100%
      );

      background: $marquee-background;
      margin-bottom: -2rem;
      max-width: $container-text--S;
      overflow: hidden;
      padding-bottom: map-get($spacing, "S");
      padding-top: map-get($spacing, "XL");
      position: relative;
      z-index: 75;

      @include bp-medium {
        margin-bottom: -4rem;
      }

      .marquee-container {
        position: relative;
        white-space: nowrap;
      }

      .marquee-container h2 {
        animation: ease-in-out 10s infinite rainbowGradientTransition,
          linear 320s infinite alternate marqueeTranslation;
        background: map-get($color, "highlight");
        background-clip: text;
        background-size: 300% 300%;
        display: inline-block;
        line-height: 1.25;

        -webkit-text-fill-color: transparent;
      }

      @for $i from 0 to 4 {
        .marquee-container--#{$i} {
          left: calc(-1 * calc(#{$i+1} * 2rem));
        }

        .marquee-container--#{$i} h2 {
          animation-delay: calc(#{$i+1} * 1000ms);
        }
      }
    }

    &__img {
      max-width: $container-text--S;
      z-index: 50;
    }
  }

  &__info__text {
    margin: map-get($spacing, "L") map-get($spacing, "L")
      map-get($spacing, "XXL");

    @include bp-small {
      margin-left: auto;
    }

    @include bp-medium {
      margin-left: map-get($spacing, "L");
      margin-bottom: map-get($spacing, "L");
    }

    h2 {
      margin-bottom: map-get($spacing, "L");
    }

    p {
      margin-bottom: map-get($spacing, "M");
    }

    ul li:not(:last-child) {
      margin-bottom: map-get($spacing, "S");
    }
  }
}

@keyframes marqueeTranslation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-25%, 0);
  }
}
