@import "../index.scss";

.p-index {
  background-color: map-get($color, "dark");
  color: map-get($color, "light-grey");

  &__header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: map-get($container, "L");
    padding: map-get($spacing, "XXL") map-get($spacing, "L")
      map-get($spacing, "XXL");
    position: fixed;

    @include bp-medium {
      padding-left: map-get($spacing, "XL");
      padding-right: map-get($spacing, "XL");
    }

    h1 {
      margin-bottom: map-get($spacing, "S");
    }

    a {
      @include bp-small {
        margin-left: 50%;
      }
    }

    .react-reveal {
      align-self: flex-end;

      @include bp-small {
        align-self: unset;
      }
    }
  }

  &__warning {
    margin-bottom: map-get($spacing, "XL");
    text-align: center;

    @include bp-extra-small {
      display: none;
    }
  }

  .u-content-container--XL {
    align-items: center;
    flex-direction: column;
    display: flex;
    overflow: hidden;
  }
}
