html {
  --color-primary: map-get($color, "type-variant");

  font-family: $type-family;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

body {
  background: map-get($color, "background");
  color: map-get($color, "type");
  margin: 0;
}

h1 {
  font-size: map-get($type-title-1, "size--S");
  font-weight: map-get($type-title-1, "weight");
  letter-spacing: map-get($type-title-1, "character-spacing");
  line-height: map-get($type-title-1, "leading");

  @include bp-small {
    font-size: map-get($type-title-1, "size--M");
  }
}

h2 {
  font-size: map-get($type-title-2, "size--S");
  font-weight: map-get($type-title-2, "weight");
  letter-spacing: map-get($type-title-2, "character-spacing");
  line-height: map-get($type-title-2, "leading");

  @include bp-small {
    font-size: map-get($type-title-2, "size--M");
  }
}

h3 {
  font-size: map-get($type-body-1, "size--S");
  font-weight: map-get($type-body-1, "weight");
  letter-spacing: map-get($type-body-1, "character-spacing");
  line-height: map-get($type-body-1, "leading");

  @include bp-medium {
    font-size: map-get($type-body-1, "size--M");
  }
}

h4 {
  font-size: map-get($type-caption-1, "size--S");
  font-weight: map-get($type-caption-1, "weight");
  line-height: map-get($type-caption-1, "leading");
}

p {
  font-size: map-get($type-body-2, "size--S");
  font-weight: map-get($type-body-2, "weight");
  letter-spacing: map-get($type-body-2, "character-spacing");
  line-height: map-get($type-body-2, "leading");

  @include bp-small {
    font-size: map-get($type-body-2, "size--M");
  }
}

small {
  font-size: map-get($type-caption, "size--S");
  font-weight: map-get($type-caption, "weight");
  letter-spacing: map-get($type-caption, "character-spacing");
  line-height: map-get($type-caption, "leading");
}

a {
  color: map-get($type-anchor, "color");
  font-weight: map-get($type-anchor, "weight");
  text-decoration: none;

  &:hover {
    opacity: .5;
    text-decoration: none;
  }
}

em {
  color: map-get($color, "type-variant");
}

strong {
  font-weight: 500;
}

video {
  outline: none;
}
