html {
  font-family: $type-family;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: map-get($color, "background");
  color: map-get($color, "on-background");
  margin: 0;
}

h1 {
  font-size: map-get($type-title-1, "size");
  font-weight: map-get($type-title-1, "weight");
  letter-spacing: map-get($type-title-1, "character-spacing");
  line-height: map-get($type-title-1, "leading");
}

h2 {
  font-size: map-get($type-headline, "size");
  font-weight: map-get($type-headline, "weight");
  letter-spacing: map-get($type-headline, "character-spacing");
  line-height: map-get($type-headline, "leading");
}

h3 {
  font-size: map-get($type-title-2, "size");
  font-weight: map-get($type-title-2, "weight");
  letter-spacing: map-get($type-title-2, "character-spacing");
  line-height: map-get($type-title-2, "leading");
}

p {
  font-size: map-get($type-body, "size");
  font-weight: map-get($type-body, "weight");
  letter-spacing: map-get($type-body, "character-spacing");
  line-height: map-get($type-body, "leading");
}

small {
  font-size: map-get($type-caption, "size");
  font-weight: map-get($type-caption, "weight");
  letter-spacing: map-get($type-caption, "character-spacing");
  line-height: map-get($type-caption, "leading");
}

a {
  color: map-get($color, "on-background");
  font-size: map-get($type-link, "size");
  font-weight: map-get($type-link, "weight");
  letter-spacing: map-get($type-link, "character-spacing");
  line-height: map-get($type-link, "leading");
  text-transform: uppercase;
  text-decoration: none;
}