.p-home-header {
  display: flex;
  flex-direction: column;
  padding: map-get($spacing, "XXL") map-get($spacing, "L")
    map-get($spacing, "XL");

  @include for-tablet-and-up {
    padding: map-get($spacing, "XXL") map-get($spacing, "L")
      map-get($spacing, "XL");
  }

  @include for-desktop-and-up {
    flex-direction: row;
    padding: map-get($spacing, "XXL") map-get($spacing, "XXL")
      map-get($spacing, "XL");
  }

  &__title h1,
  &__headline h2 {
    margin-bottom: map-get($spacing, "L");

    @include for-tablet-and-up {
      max-width: $type-scale * 32;
    }
  }

  &__title {
    @include for-desktop-and-up {
      flex-grow: 1;
      margin-right: map-get($spacing, "XL");
    }
  }

  &__headline {
    @include for-desktop-and-up {
      flex-grow: 1;
    }
  }
}
