.u-content-container--M {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: map-get($container, "M");
}

.u-content-container--L {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: map-get($container, "L");
}

.u-content-container--XL {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: map-get($container, "XL");
}

.u-text-container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  position: relative;

  .c-img-carousel + &,
  .c-img-container + &,
  & + & {
    margin-top: map-get($spacing, "S");
  }

  & + &--is-header,
  .c-img-container + &--is-header {
    margin-top: map-get($spacing, "XXL");
  }

  .c-img-container__caption + &--is-header {
    margin-top: map-get($spacing, "XL");
  }

  & > h2,
  & > h3,
  & > p {
    box-sizing: border-box;
    max-width: map-get($container, "M");
    padding: 0 map-get($spacing, "L");
    width: 100%;
  }
}
