.u-color--dark {
  color: map-get($color, "dark");
}

.u-color--dark-grey {
  color: map-get($color, "dark-grey");
}

.u-color--light {
  color: map-get($color, "light");
}

.u-color--light-grey {
  color: map-get($color, "light-grey");
}

.u-font-weight--normal {
  font-weight: normal;
}

.u-font-weight--bold {
  font-weight: 500;
}

.u-content-container--M {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: map-get($container, "M");
}

.u-content-container--L {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: map-get($container, "L");
}

.u-content-container--XL {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: map-get($container, "XL");
}

.u-text-container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  position: relative;

  & + & {
    margin-top: map-get($spacing, "S");
  }

  & + &--is-header {
    margin-top: map-get($spacing, "L");
  }

  &--is-header + & {
    margin-top: map-get($spacing, "XS") / 2;
  }

  & > h2,
  & > h3,
  & > p,
  & > ul {
    box-sizing: border-box;
    max-width: map-get($container, "M");
    padding: 0 map-get($spacing, "L");
    width: 100%;
  }
}
