$grayscale-100: #fafafa;
$grayscale-200: #f0f0f0;
$grayscale-300: #bebebe;
$grayscale-400: #131313;

$grayscale-gradient: linear-gradient(
  90deg,
  rgba(238, 238, 238, 0.7) 0%,
  rgba(190, 190, 190, 0.7) 50%,
  rgba(238, 238, 238, 0.7) 99%
);
$rainbow-gradient: linear-gradient(
  90deg,
  rgba(38, 183, 237, 0.7) 0%,
  rgba(101, 214, 196, 0.7) 12.5%,
  rgba(147, 219, 123, 0.7) 25%,
  rgba(249, 245, 0, 0.7) 50%,
  rgba(254, 104, 40, 0.7) 85%,
  rgba(255, 19, 59, 0.7) 100%
);

$color: (
  "background": $grayscale-100,
  "background-variant": $grayscale-200,
  "type": $grayscale-400,
  "type-variant": $grayscale-300,
  "highlight": $rainbow-gradient,
  "highlight-variant": $grayscale-gradient,
);

$animation-ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$spacing-scale: 0.25rem;

$spacing: (
  "XS": $spacing-scale * 1,
  "S": $spacing-scale * 2,
  "M": $spacing-scale * 4,
  "ML": $spacing-scale * 6,
  "L": $spacing-scale * 8,
  "XL": $spacing-scale * 16,
  "XXL": $spacing-scale * 32,
  "XXXL": $spacing-scale * 64,
);

@mixin bp-small {
  @media screen and (min-width: 37.5rem) {
    @content;
  }
}

@mixin bp-medium {
  @media screen and (min-width: 60rem) {
    @content;
  }
}

@mixin bp-large {
  @media screen and (min-width: 90rem) {
    @content;
  }
}

$container-text--S: 32rem;
$container-text--M: 40rem;
$container-text--L: 48rem;

$container-content--S: 64rem;
$container-content--L: 90rem;

$type-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, sans-serif;
$type-scale: 1rem;

$type-title-1: (
  "size--S": $type-scale * 2.625,
  "size--M": $type-scale * 4.25,
  "weight": bold,
  "leading": 1.0588235294,
  "character-spacing": -0.05rem,
);

$type-title-2: (
  "size--S": $type-scale * 1.4375,
  "size--M": $type-scale * 2,
  "weight": bold,
  "leading": 1.0625,
  "character-spacing": -0.02375rem,
);

$type-body-1: (
  "size--S": $type-scale * 1.1875,
  "size--M": $type-scale * 1.3125,
  "weight": normal,
  "leading": 1.380952381,
  "character-spacing": -0.01625rem,
);

$type-body-2: (
  "size--S": $type-scale * 1.0625,
  "weight": normal,
  "leading": 1.5294117647,
  "character-spacing": -0.013125rem,
);

$type-caption: (
  "size--S": $type-scale * 0.75,
  "weight": normal,
  "leading": 1.3333333333,
  "character-spacing": -0.00625rem,
);

$type-navigation-link: (
  "size--S": $type-scale * 0.875,
  "weight": bold,
  "leading": 1.7142857143,
  "character-spacing": -0.01125rem,
);
