$color--alabaster: #f0ece4;
$color--gray: #827c7a;
$color--licorice: #141211;
$color--baby-powder: #fafafa;
$color--candy-pink: #e45e6a;
$color--dark-electric-blue: #506d83;
$color--sunray: #f0b456;

$color: (
  "dark": $color--licorice,
  "dark-grey": $color--gray,
  "light": $color--baby-powder,
  "light-grey": $color--alabaster,
  "tint--1": $color--candy-pink,
  "tint--2": $color--dark-electric-blue,
  "tint--3": $color--sunray,
);

$spacing-scale: 0.5rem;
$spacing: (
  "XS": $spacing-scale * 1,
  "S": $spacing-scale * 2,
  "M": $spacing-scale * 3,
  "L": $spacing-scale * 4,
  "XL": $spacing-scale * 8,
  "XXL": $spacing-scale * 16,
);

$container-scale: 1rem;
$container: (
  "XS": $container-scale * 16,
  "S": $container-scale * 32,
  "M": $container-scale * 40,
  "L": $container-scale * 64,
  "XL": $container-scale * 90,
);

@mixin bp-extra-small {
  @media screen and (max-width: 20rem) {
    @content;
  }
}

@mixin bp-small {
  @media screen and (min-width: 48rem) {
    @content;
  }
}

@mixin bp-medium {
  @media screen and (min-width: 60rem) {
    @content;
  }
}

@mixin bp-large {
  @media screen and (min-width: 90rem) {
    @content;
  }
}

$animation-ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$animation-ease-in-out-back: cubic-bezier(0.68, -0.6, 0.32, 1.6);

$type-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, sans-serif;
$type-scale: 1rem;

$type-title-1: (
  "size--XS": $type-scale * 2,
  "size--S": $type-scale * 2.75,
  "size--M": $type-scale * 5.5,
  "weight": 500,
  "leading": 1.0454545455,
  "character-spacing--XS": -0.018125rem,
  "character-spacing--S": -0.025rem,
  "character-spacing--M": -0.05rem,
);

$type-title-2: (
  "size--S": $type-scale * 1.875,
  "size--M": $type-scale * 2.375,
  "weight": 500,
  "leading": 1.1052631579,
  "character-spacing--S": -0.01875rem,
  "character-spacing--M": -0.02375rem,
);

$type-body-1: (
  "size--S": $type-scale * 1.1875,
  "size--M": $type-scale * 1.5,
  "weight": 500,
  "leading": 1.4166666667,
  "character-spacing--S": -0.013125rem,
  "character-spacing--M": -0.01625rem,
);

$type-body-2: (
  "size--S": $type-scale * 1.0625,
  "size--M": $type-scale * 1.125,
  "weight": normal,
  "leading": 1.6111111111,
  "character-spacing--S": -0.0125rem,
  "character-spacing--M": -0.013125rem,
);

$type-caption-1: (
  "size": $type-scale * 0.9375,
  "weight": 500,
  "leading": 1.4,
  "character-spacing": -0.00625rem,
);

$type-caption-2: (
  "size": $type-scale * 0.75,
  "weight": normal,
  "leading": 1.3333333333,
  "character-spacing": -0.005rem,
);

$type-anchor: (
  "color": map-get($color, "dark-grey"),
  "weight": 500,
);

$type-highlight: (
  "size": $type-scale * 0.75,
  "weight": bold,
  "leading": 2,
  "character-spacing": 0.05375rem,
  "text-transform": uppercase,
);
