.l-container__content {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: $container__content;
}

.l-container__text--small {
  max-width: $container-text--small;
}

.l-container__text--medium {
  max-width: $container-text--medium;
}
