@import "../../styles/index.scss";

.c-project-card {
  background-color: red;
  min-height: map-get($container, "XS");
  padding: (map-get($spacing, "L") - map-get($spacing, "XS"))
    map-get($spacing, "L");

  @include bp-medium {
    margin: 0 map-get($spacing, "L");
    min-height: map-get($container, "XS") - map-get($spacing, "XL");
    padding: map-get($spacing, "L")
      (map-get($spacing, "L") + map-get($spacing, "XS"));
  }

  &:not(:last-of-type) {
    margin-bottom: map-get($spacing, "S");
  }

  &__title {
    @include bp-small {
      max-width: map-get($container, "XS");
    }
  }

  &__headline {
    margin-top: map-get($spacing, "XS");

    @include bp-small {
      max-width: map-get($container, "S");
    }
  }
}
