@import "../../styles/index.scss";

.c-text-container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;

  .c-image-carousel + &,
  .c-img-container + &,
  & + & {
    margin-top: map-get($spacing, "L");
  }

  & + &--is-header,
  .c-img-container + &--is-header {
    margin-top: map-get($spacing, "XXL");
  }

  .c-img-container__caption + &--is-header {
    margin-top: map-get($spacing, "XL");
  }
}
