@import "../../styles/index.scss";

.c-text-container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;

  .c-image-container + &,
  & + & {
    margin-top: map-get($spacing, "L");
  }

  .c-image-container__caption + & {
    margin-top: map-get($spacing, "L");
  }

  & > *:first-child {
    box-sizing: border-box;
    max-width: map-get($container, "M");
    padding-left: map-get($spacing, "L");
    padding-right: map-get($spacing, "L");
    width: 100%;
  }

  & + &--is-header,
  [class*="c-image-container"] + &--is-header {
    margin-top: map-get($spacing, "XXL");
  }

  &--highlighted > *:first-child {
    border-left: solid 3px var(--color-primary);
    margin-left: map-get($spacing, "L");
    max-width: $container-text--M - map-get($spacing, "L");
    padding-left: map-get($spacing, "L");
    width: unset;

    @include bp-medium {
      max-width: $container-text--M - map-get($spacing, "XL");
    }

    @include bp-large {
      max-width: $container-text--M;
    }
  }
}
