@import "../../styles/index.scss";

.c-divider {
  margin: 0 map-get($spacing, "L");

  hr {
    border: none;
    border-bottom: solid 2px map-get($color, "dark-grey");
    flex-grow: 1;
    margin: 0 map-get($spacing, "S");
  }

  .u-content-container--L {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: map-get($container, "XS") + map-get($container, "S");
  }
}
