@import "../../styles/index.scss";

.c-navigation-link {
  align-items: center;
  display: inline-flex;

  &__arrow {
    fill: map-get($color, "dark-grey");
    fill-rule: nonzero;
    margin-left: map-get($spacing, "XS") / 2;

    & > g {
      transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    & > rect {
      transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }

  &:hover &__arrow {
    & > g {
      transform: translate(30px, 0);
    }

    & > rect {
      width: 82px;
    }
  }
}
