@import "../../styles/index.scss";

.c-project-summary {
  &__intro {
    display: flex;
    flex-direction: column;

    @include bp-medium {
      flex-direction: row;
    }
  }

  &__role {
    @extend .u-color--dark-grey;

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0 map-get($spacing, "L") map-get($spacing, "L");

    @include bp-small {
      max-width: map-get($container, "S");
    }

    @include bp-medium {
      max-width: map-get($container, "XS");
    }

    small + small {
      margin-top: map-get($spacing, "S");
    }
  }

  &__outline-and-results {
    align-items: flex-end;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: map-get($container, "M");
    margin: 0 map-get($spacing, "L") map-get($spacing, "XXL");
  }

  &__outline {
    width: 100%;

    h3 {
      margin-bottom: map-get($spacing, "XS") / 2;
    }

    &__item + &__item {
      margin-top: map-get($spacing, "L");
    }
  }

  &__results {
    margin-top: map-get($spacing, "S");
    width: 100%;

    li + li {
      margin-top: map-get($spacing, "XS");
    }

    li > p::before {
      @extend .u-color--dark-grey;

      content: "•";
      display: inline-flex;
      position: relative;
      width: map-get($spacing, "S");
    }

    li > small {
      margin-left: map-get($spacing, "S");
    }
  }

  &__process {
    display: flex;
    flex-direction: column;
    margin: map-get($spacing, "L") map-get($spacing, "L")
      map-get($spacing, "XXL");

    @include bp-small {
      margin-left: map-get($spacing, "XL");
    }

    @include bp-medium {
      align-items: flex-start;
      flex-direction: row;
      justify-content: center;
      margin-left: map-get($spacing, "L");
    }

    &__header {
      margin: 0 map-get($spacing, "L");
    }

    &__item {
      display: flex;
      flex-basis: 7.125rem;
      flex-direction: column;

      @include bp-medium {
        align-items: center;
        flex-basis: map-get($container, "XS");
      }

      & + & {
        margin-top: map-get($spacing, "L");

        @include bp-medium {
          margin-top: 0;
          margin-left: map-get($spacing, "XL");
        }

        &::before {
          background-color: transparentize(map-get($color, "dark-grey"), 0.75);
          content: " ";
          height: 7.125rem - map-get($spacing, "L");
          margin-left: 1.25rem;
          margin-top: -7.125rem + 1.25rem;
          position: absolute;
          width: 0.0625rem;

          @include bp-medium {
            height: 0.0625rem;
            margin-left: -1 * map-get($container, "XS") / 2 -
              map-get($spacing, "L");
            margin-top: 1.25rem;
            width: map-get($container, "XS") - map-get($spacing, "L");
          }
        }
      }
    }

    &__item__label {
      @extend .u-color--light;

      border-radius: 50%;
      padding: 0.4375rem 0;
      position: absolute;
      text-align: center;
      width: 2.5rem;

      @include bp-medium {
        padding: 0.1875rem 0;
        position: relative;
      }
    }

    &__item--1 &__item__label {
      background-color: map-get($color, "tint--1");
    }

    &__item--2 &__item__label {
      background-color: map-get($color, "tint--2");
    }

    &__item--3 &__item__label {
      background-color: map-get($color, "tint--3");
    }

    &__item__content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin-left: map-get($spacing, "XL") - map-get($spacing, "XS");

      @include bp-small {
        max-width: map-get($container, "S");
      }

      @include bp-medium {
        margin-left: 0;
        max-width: map-get($container, "XS");
        text-align: center;
      }

      & > small:last-child {
        margin-top: map-get($spacing, "XS") / 2;
      }
    }
  }
}
