@import "../../styles/index.scss";

@keyframes c-nav__background-is-set {
  from {
    background-color: transparent;
  }
  to {
    background-color: map-get($color, "background");
  }
}

.c-nav {
  background-color: map-get($color, "background");
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;

  @include bp-small {
    animation: 800ms $animation-ease-out-expo 2400ms both
      c-nav__background-is-set;
  }

  &__link-to-home {
    margin-left: map-get($spacing, "L");

    &::before {
      content: "Froes";
      font-weight: bold;
    }
  }

  &__items {
    display: flex;
  }

  &__items .c-navigation-link {
    margin-right: map-get($spacing, "L");
  }

  .u-content-container--XL {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: map-get($spacing, "M") 0;
  }
}
