@import "../../styles/index.scss";

.c-nav {
  background: map-get($color, "background");
  padding-bottom: map-get($spacing, "ML");
  padding-top: map-get($spacing, "ML");
  position: fixed;
  width: 100%;
  z-index: 100;

  &__link-to-home {
    padding-left: map-get($spacing, "S");

    .c-navigation-link__label {
      display: none;

      @include bp-small {
        display: unset;
      }
    }

    .c-navigation-link__arrow {
      fill: map-get($color, "type-variant");
    }
  }

  &__items .c-navigation-link {
    margin-right: map-get($spacing, "L");
  }

  .l-container__content--L {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }
}
